body, html {
  height: 100%;
}  
body {
  padding-bottom: 7vw; 
  font-family: 'Roboto', sans-serif;
}
td{
  width: 50vw;
}
h1 {
  font-size: 3.5vw;
}
h2{
  font-size: 2.5vw;
}
.highlight {
  margin: auto;
  height: fit-content;
  width: fit-content;
  background: linear-gradient(to right, #E6E6FA, #E6E6FA);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 1s 0s;
}
.highlight:hover {
  cursor: pointer;
  background-size: 100% 100%;
}

h4{
  font-size: 1.5vw;
}
h5{
  font-size: 1.2vw;
}
.highlight2 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  background: linear-gradient(to right, #D8FFC6, #D8FFC6);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 1s 0s;
}
.highlight2:hover {
  cursor: pointer;
  background-size: 100% 100%;
}

.section{
  height: 100vh;
  width: 98vw;
  padding-top: 5vw;
}

.about{
  padding-top: 8vh;
}

.aboutimg img{
  width: 38vw;
  height: 38vw;
}

.btnprimary{
  background-color: #D8FFC6;
  border: none;
  color: black;
  width: 18vw;
  height: 5vw;
  border-radius: 1vw;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 1vw;
  outline: none;
}
.btnprimary:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.redirect a:hover{
  text-decoration: none;
}
.redirect img{
  margin: 1.75vw;
  width: 3vw;
}
.redirect img:hover{
  margin: 1.5vw;
  width: 3.5vw;
}

.circle1 {
  width: 25vw;
  height: 25vw;
  font-size: 1.25vw;
  text-align: center;
  background: #E6E6FA;
  border-radius: 50%;
  padding: 6% 1% 1% 1%;
  margin: auto;
}
.circle1:hover{
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle2 {
  width: 25vw;
  height: 25vw;
  font-size: 1.25vw;
  text-align: center;
  background: #D8FFC6;
  border-radius: 50%;
  padding: 6% 1% 1% 1%;
  margin: auto;
}
.circle2:hover{
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.mnmlogo{
  width: 30%;
  margin: auto;
}
.csilogo{
width: 30%;
margin: auto;
}
.skills{
  margin: 2%;
  width: 60%;
}

.projects img{
  width: 100%;
}
.rect{
width: 25vw;
height: 19vw;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 2%;
padding: 5%;
}
.rect:hover{
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.intouch{
  margin-top: 5%;
  height:97vh;
}
.contactimg{
  width: 10vw;
  margin: 1%;
}
.contactimg:hover{
  width: 11vw;
  cursor: pointer;
  margin: 0.05%;
}
.outro{
  font-size: large;
  margin-top:5%;
}
.footer {
  margin-bottom: 0;
  width: 100%;
  background-color: rgb(46, 46, 46);
  color: white;
  text-align: center;
}