.logo #logo{
    width: 150px;
    float: left;
    padding: 10px;
}

nav ul {
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: 'Baloo Tammudu 2', cursive;;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

